# Server
PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://<db_user>:<db_password>@cluster0.jve1eql.mongodb.net/schema?retryWrites=true&w=majority

FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"...", "...": "..."}

DEFAULT_ADMIN_EMAIL=admin@bookworm.com
DEFAULT_ADMIN_PASSWORD=ChangeMe123!
DEFAULT_ADMIN_NAME=BookWorm Admin

# One-time code expiry, in hours
ONE_TIME_CODE_EXPIRES_HOURS=24
FORCE_DNS_SERVERS=8.8.8.8,8.8.4.4

